.carousel {
  width: 780px;
  height: 350px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
.carousel ul {
  list-style: none;
}
.carousel ul li {
  display: none;
}
.carousel ul li.current {
  display: block;
}
.carousel span {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 130px;
  cursor: pointer;
}
.carousel .leftBtn {
  left: 10px;
}
.carousel .rightBtn {
  right: 10px;
}
.carousel .circles {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 17px;
  left: 50%;
  margin-left: -100px;
}
.carousel .circles ol {
  list-style: none;
}
.carousel .circles ol li {
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 13px;
  background-color: gold;
  border-radius: 50%;
  cursor: pointer;
}
.carousel .circles ol li.current {
  background-color: purple;
}
